body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
    background-color: #394466;
  }
  
  .wrapper {
    width: 410px;
    margin: 0 auto;
    height: 100%;
  }
  
  #quiz {
    background-color: #5e5e5e;
    padding-bottom: 60px;
    text-align: center;
    width: 100%;
    border: .4px solid black;
    border-radius: 4px;
    color: #fff;
    box-shadow: 1px 9px 32px 12px rgba(0,0,0,0.62);
  }
  
  #quiz > h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
    border-bottom: 1px solid white;
    margin: 0 155px 0;
  }
  
  .questions {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
  }
  
  .answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
  }
  
  .answers div:hover {
    cursor: pointer;
    color: #FBCB43;
  }
  
  .answers {
    padding: 0px 0 10px 0px;
  }
  
  .answers div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  
  .answers div:first-child {
    border: none;
  }

  .checkAnswers {
    border-top: 1px solid white;
  }
  
  .checker {
    display: inline-block;
    margin: 0 auto;
  }
  
  .correct, .false {
    background-color: #03d100;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
  }
  
  .false {
    background-color: #f20016;
  }